.container {
  width: 55px;
  height: 30px;
  border: 1.5px solid #53c28b70;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  cursor: pointer;
  position: relative;
}

.icon {
  font-size: 16px;
}

.ball {
  width: 20px;
  height: 20px;
  background-color: #53c28b;
  border-radius: 50%;
  position: absolute;
}
